

<div class="d-flex justify-content-between mt-5" >
<h1>Transaction Details</h1>
 <button class="btn-primary btn-primary m-2" (click)="navigateToTransactions()">Back</button>
</div>

<div class="card">
  <div class="table-responsive p-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Sender</th>
          <th scope="col">Receiver</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Paid Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trans of transactions">
          <td>{{trans.id}} </td>
          <td>{{parentData.sender}}</td>
          <td>{{parentData.receiver}}</td>
          <td>{{parentData.totalAmount}}</td>
          <td>{{trans.paidAmount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-end mt-3" *ngIf="totalRows>0">
  <ngb-pagination [(page)]="pageNumber!"
                  [pageSize]="pageSize!"
                  [collectionSize]="totalRows!"
                  (pageChange)="loadPage($event)"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true">
  </ngb-pagination>
</div>
